.card{
    border :1px solid black;
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    
}
.sub-card{
    outline: dashed 4px red;
    margin: 2px;
    border :1px solid green;
    padding: 10px;
}
.image{
    width:200px;
    height:250px;
    max-width: 200px;
    max-height: 250px;
}
.topic{
    width:200px;
    max-height: 250px;
    text-align: left;
    color:yellow;
    font-size: 23px;

}
.subtitle{
    color:blue;
}
.card:hover{
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}
.sub-card:hover{
     outline: dashed 4px green;
}
