@import url('https://fonts.googleapis.com/css2?family=Jost&family=Raleway:wght@700&display=swap');
.header{
    border: 1px solid  black; 
    text-align:center;
    background-color:blue;
    padding:4px;
    height:90px;
}
h1.title{
    color:white;
    font-size:32px;
    font-family: 'Raleway', sans-serif;
}